In [ ]:
# Addition of two numbers

In [4]:
a=10 
b=20
print(a+b)

30

In [17]:
import pandas as pd

In [1]:
# single line comends

In [1]:
# My name is Sow
# I am learning Data Science

In [19]:
# multiline commends

In [21]:
"""
the name is sow
iam in data scientist
"""

'\nthe name is sow\niam in data scientist\n'

In [23]:
df= pd.read_csv("sales_dataset.csv")

In [25]:
df.head()

,Order_ID,Order_Date,Customer_Name,Product,Category,Quantity,Unit_Price,Total_Amount
0,1001,2024-01-05,Amit,Laptop,Electronics,1,60000,60000
1,1002,2024-01-06,Ravi,Mobile,Electronics,2,20000,40000
2,1003,2024-01-07,Sneha,Tablet,Electronics,1,30000,30000
3,1004,2024-01-08,Anjali,Headphones,Accessories,3,1500,4500
4,1005,2024-01-09,Kiran,Smartwatch,Wearable,1,10000,10000

In [27]:
df.tail()

,Order_ID,Order_Date,Customer_Name,Product,Category,Quantity,Unit_Price,Total_Amount
5,1006,2024-01-10,Pooja,Keyboard,Accessories,2,1200,2400
6,1007,2024-01-11,Rahul,Mouse,Accessories,3,800,2400
7,1008,2024-01-12,Neha,Monitor,Electronics,1,15000,15000
8,1009,2024-01-13,Suresh,Printer,Electronics,1,12000,12000
9,1010,2024-01-14,Meena,Camera,Electronics,2,25000,50000