# Iterables

--> an iterable is any object in python that u can loop over using a for loop. it maen an object contain multiple values that can acceceble one by one
> an iterable is an object that can loop over
> list,string,tuples
> type of iterables

# write a python srcipt to print the first 10 multiple of 5

In [27]:
for i in range (1,11):   # (1 is a beiginig number and 11 is ending number)
    print (i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
for i in range (1, 11):
    print(i * 5)

5
10
15
20
25
30
35
40
45
50

# write a python script to print range(1, 23, 3)

In [18]:
for  i in range (1,23,3):
      print (i, end = ' ')

1 4 7 10 13 16 19 22

# Print first 10 multiples of N

In [12]:
n = int(input("Enter a number: "))

for i in range(1, 11):
    print(n * i)

Enter a number:  3

3
6
9
12
15
18
21
24
27
30

# Print first M multiples of N

In [22]:
n = int(input("Enter N: "))
m = int(input("Enter M: "))

for i in range(1, m + 1):
    print(n * i)

Enter N:  2
Enter M:  5

2
4
6
8
10

# Print first 10 multiples of N in reverse order

In [49]:
n = int(input("Enter the number: "))

for i in range(10, 0, -1):
    print(n * i)

Enter the number:  2

20
18
16
14
12
10
8
6
4
2

# Print table of userâ€™s choice

In [1]:
num = int(input("Enter the number to print table: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter the number to print table:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# list

In [105]:
L1 = [23,55,11]
print(L1)

[23, 55, 11]

In [107]:

for i in L1:
    print(i,end=" ")

23 55 11

In [109]:
L1[1]=12
print(L1)

[23, 12, 11]

In [111]:
print(L1[0],L1[2])

23 11

In [113]:
del L1[1]
print(L1)

[23, 11]

In [115]:
L1.append(20)
print(L1)

[23, 11, 20]

In [117]:
L1.append(2.5)
print(L1)

[23, 11, 20, 2.5]

In [119]:
L1.insert(2,"name")
print(L1)

[23, 11, 'name', 20, 2.5]

# Tuple

In [92]:
t1=(1,4,8)
for i in t1:
    print(i)

1
4
8

In [31]:
t1[1]=13     #'tuple' object does not support item assignment
print(t1)

TypeError: 'tuple' object does not support item assignment

In [96]:
del t1[1]
print(t1)

TypeError: 'tuple' object doesn't support item deletion